.link:hover {
  color: var(--island-c-brand);
  transition: color 0.2s;
}

.link {
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.socialLinkIcon {
  display: flex;
  fill: currentColor;
  transition: color 0.2s;
  color: var(--island-c-text-2);
  &:hover {
    color: var(--island-c-text-1);
  }
}

.switch::before {
  margin-right: 12px;
  margin-left: 12px;
  width: 1px;
  height: 24px;
  background-color: var(--island-c-divider-light);
  content: ' ';
}

.nav {
  padding-left: calc(32px + (100vw - var(--island-layout-max-width)) / 2);
  padding-right: calc(32px + (100vw - var(--island-layout-max-width)) / 2);
  background-color: var(--island-c-bg);
}
